#!/usr/bin/env bash

start_blog() {
    # function opens up a md file with # heading passed as parameter
    # also generates a name for the file
    if [ -z "$*" ]; then
        echo "No title provided";
        return;
    fi

    filename="`echo "$@" | tr " " _  | tr [:upper:] [:lower:]`.md"
    echo -e "Date: `date +%d-%m-%Y`\n# $@" >> $filename
    nvim "$filename"
}

export -f start_blog

mvn_jersey() {
    mvn archetype:generate \
        -DgroupId=org.proj.$1 \
        -DartifactId=$1 \
        -DarchetypeArtifactId=jersey-quickstart-webapp \
        -DarchetypeGroupId=org.glassfish.jersey.archetypes \
        -DarchetypeVersion=3.0.6 \
        -DinteractiveMode=false
}

export -f mvn_jersey
